.container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    padding: 20px;
}

.left-section {
    flex: 1; 
    padding: 20px;
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.right-section {
    flex: 2; 
    padding: 20px;
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
}

h2 {
    color: #333;
    font-family: "Hubot Sans", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-family: "Hubot Sans", sans-serif;
}

input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #b38d46;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Hubot Sans", sans-serif;
}

button:hover {
    background-color: #a37a3b;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li strong {
    font-size: 18px;
    color: #333;
}